## Create or Replace & CTAS
1. Difference between Create or Replace and Drop and Create Table statements
2. CTAS statement

In [0]:
DROP TABLE IF EXISTS demo.delta_lake.companies;

CREATE TABLE demo.delta_lake.companies
  (
    company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
    company_name STRING NOT NULL,
    founded_date DATE COMMENT 'The date column',
    founded_year INT GENERATED ALWAYS AS (YEAR(founded_date)),
    country STRING
  );


INSERT INTO demo.delta_lake.companies (company_name, founded_date, country)
VALUES ('Microsoft', '1975-04-04', 'USA'),
       ('Google', '1998-09-04', 'USA'), 
      ('Amazon', '1994-05-05', 'USA')

In [0]:
DESC HISTORY demo.delta_lake.companies

In [0]:
DROP TABLE IF EXISTS demo.delta_lake.companies;

In [0]:


CREATE OR REPLACE TABLE demo.delta_lake.companies
  (
    company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
    company_name STRING NOT NULL,
    founded_date DATE COMMENT 'The date column',
    founded_year INT GENERATED ALWAYS AS (YEAR(founded_date)),
    country STRING
  );


INSERT INTO demo.delta_lake.companies (company_name, founded_date, country)
VALUES ('Microsoft', '1975-04-04', 'USA'),
       ('Google', '1998-09-04', 'USA'), 
      ('TEK', '1994-05-05', 'USA'),
      ('META', '1998-09-04', 'USA'), 
      ('Amazon', '1994-05-05', 'USA')

In [0]:
DESC HISTORY demo.delta_lake.companies

In [0]:
CREATE TABLE demo.delta_lake.companies_usa
AS
SELECT * FROM demo.delta_lake.companies
WHERE country = 'USA'''

In [0]:
DESC HISTORY demo.delta_lake.companies_usa

In [0]:
CREATE OR REPLACE TABLE demo.delta_lake.companies_usa
AS
SELECT 
CAST(company_id AS INT) AS company_id,
company_name,
founded_year,
country
FROM demo.delta_lake.companies
WHERE country = 'USA'

In [0]:
ALTER TABLE demo.delta_lake.companies_usa
    ALTER COLUMN company_id SET NOT NULL

In [0]:
ALTER TABLE demo.delta_lake.companies_usa
   ALTER COLUMN founded_year COMMENT 'Date company was founded'

In [0]:
DESC EXTENDED demo.delta_lake.companies_usa